.site-wrapper {
    box-shadow: none;
    webkit-box-shadow: none;
}

@media (min-width: 768px) {
    .post-begin {
        margin-top: 100px;
        padding-top: 25px;
    }

    .post-end {
        margin-bottom: 100px;
        padding-bottom: 15px;
    }
}

.bg {
	background-color: #333;
}
