Source: passh
Section: utilities
Priority: optional
Maintainer: Adrian Alves <aalves@gmail.com>
Build-Depends: debhelper (>= 9), bash, make
Standards-Version: 3.9.8
Homepage: https://github.com/HacKanCuBa/passh
#Vcs-Git: https://anonscm.debian.org/collab-maint/passh.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/passh.git

Package: passh
Architecture: all
Depends: ${shlibs:Depends}, bash, gnupg2, tree, xclip, qrencode, util-linux
Description: passh is a pass fork to store and generate passwords
 Passh is a simple password store. This fork changes a few
 things while trying to maintain most of it intact,
 specially the core idea. I will keep pulling pass commits,
 and also pushing my modifications to them.
 Forked from pass.
